################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Camera/Camera/Camera/obj
/Camera/Camera/Camera.Android/obj
/Camera/Camera/Camera.UWP/obj
